# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

bbash
bbash.exe

#IntelliJ
.idea
*.iml

# ci config for local ci build
.circleci/local-config.yml

# Ignore
.env*

# terraform
*.hcl
*.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.tfvars

# docker
docker.sh

# air / build
tmp/

# Environments
scripts/.venv

# Javascript
node_modules/
build/
